<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seezoon.framework.modules.zhfw.dao.WtArticleQdgxDao" >
  <resultMap id="BaseResultMap" type="com.seezoon.framework.modules.zhfw.entity.WtArticleQdgx" >
    <id column="ywlsh" property="ywlsh" jdbcType="VARCHAR" />
    <result column="qdid" property="qdid" jdbcType="VARCHAR" />
    <result column="xgid" property="xgid" jdbcType="VARCHAR" />
    <result column="hits" property="hits" jdbcType="INTEGER" />
    <result column="ref_type" property="refType" jdbcType="VARCHAR" />
    <result column="zhfwrq" property="zhfwrq" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
  ywlsh,qdid,xgid,hits,ref_type,zhfwrq
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from wt_article_qdgx
    where id = #{id}
  </select>
  <select id="findList" resultMap="BaseResultMap" parameterType="com.seezoon.framework.modules.zhfw.entity.WtArticleQdgx" >
    select 
    <include refid="Base_Column_List" />
    from wt_article_qdgx
	<choose>
    <when test="sortField != null and sortField != '' and direction != null and direction !=''">
    order by ${sortField} ${direction}
    </when>
    <otherwise>
   <!-- 默认排序设置 -->
    </otherwise>
    </choose>
  </select>
  <delete id="deleteByPrimaryKey" >
    delete from wt_article_qdgx
    where id = #{id} ${dsf}
  </delete>
  <insert id="insert" parameterType="com.seezoon.framework.modules.zhfw.entity.WtArticleQdgx" >
    insert into wt_article_qdgx (ywlsh,qdid,xgid,hits,ref_type,zhfwrq)
    values (#{ywlsh},#{qdid},#{xgid},#{hits},#{refType},#{zhfwrq})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seezoon.framework.modules.zhfw.entity.WtArticleQdgx" >
    update wt_article_qdgx
    <set>
      <if test="ywlsh != null" >
        ywlsh = #{ywlsh},
      </if>
      <if test="qdid != null" >
        qdid = #{qdid},
      </if>
      <if test="xgid != null" >
        xgid = #{xgid},
      </if>
      <if test="hits != null" >
        hits = #{hits},
      </if>
      <if test="refType != null" >
        ref_type = #{refType},
      </if>
      <if test="zhfwrq != null" >
        zhfwrq = #{zhfwrq},
      </if>
    </set>
    where id = #{id} ${dsf}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seezoon.framework.modules.zhfw.entity.WtArticleQdgx" >
    update wt_article_qdgx
    set 
        ywlsh = #{ywlsh}
        ,qdid = #{qdid}
        ,xgid = #{xgid}
        ,hits = #{hits}
        ,ref_type = #{refType}
        ,zhfwrq = #{zhfwrq}
    where id = #{id} ${dsf}
  </update>
  
  
  
  <delete id="deleteNotInQdid" parameterType="com.seezoon.framework.modules.zhfw.entity.WtArticleQdgx">
    delete from wt_article_qdgx
    where xgid = #{xgid} and qdid not in(${qdid}) ${dsf}
  </delete>
  
  
  <select id="selectWtArticleQdgx" resultMap="BaseResultMap" parameterType="com.seezoon.framework.modules.zhfw.entity.WtArticleQdgx" >
    select 
    <include refid="Base_Column_List" />
    from wt_article_qdgx
    <where>
    <if test="ywlsh !=null and ywlsh != ''">
    and ywlsh = #{ywlsh}
    </if>
    <if test="qdid !=null and qdid != ''">
    and qdid = #{qdid}
    </if>
    <if test="xgid !=null and xgid != ''">
    and xgid = #{xgid}
    </if>
    </where>
	<choose>
    <when test="sortField != null and sortField != '' and direction != null and direction !=''">
    order by ${sortField} ${direction}
    </when>
    <otherwise>
   <!-- 默认排序设置 -->
    </otherwise>
    </choose>
  </select>
  
  
  <delete id="deleteWtArticleQdgxXgid" >
    delete from wt_article_qdgx
    where xgid = #{id}
  </delete>
  
</mapper>