<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seezoon.framework.modules.zhfw.dao.WtYhsdrzcxDao">
	
	<resultMap id="BaseResultMap" type="com.seezoon.framework.modules.zhfw.entity.WtYhsdrzcx" >
	   <id column="" property="ywlsh" jdbcType="VARCHAR" />
	   <result column="log_id" property="logid" jdbcType="VARCHAR" />
	   <result column="yhlbdm" property="yhlbdm" jdbcType="VARCHAR" />
	   <result column="yhdlzh" property="yhdlzh" jdbcType="VARCHAR" />
	   <result column="lock_time" property="lockTime" jdbcType="TIMESTAMP" />
	   <result column="lock_remark" property="lockRemark" jdbcType="VARCHAR" />
	 </resultMap>

	<sql id="Base_Column_List" >
  		log_id,yhlbdm,yhdlzh,lock_time,lock_remark
  	</sql>
	
	<select id="findList" resultMap="BaseResultMap" parameterType="com.seezoon.framework.modules.zhfw.entity.WtYhsdrzcx" >
		select 
    	<include refid="Base_Column_List" />
    	from wt_user_lock_log
    	<where>
    	<if test="yhdlzh !=null and yhdlzh!=''">
	    	and yhdlzh = #{yhdlzh}
	    </if>
	    <if test="startTime !=null and startTime!=''">
	    	<![CDATA[ and to_date(to_char(lock_time,'YYYY-MM-DD'),'YYYY-MM-DD') >= to_date(#{startTime},'YYYY-MM-DD')]]>
	    </if>
	    <if test="endTime !=null and endTime!=''">
	    	<![CDATA[ and to_date(to_char(lock_time,'YYYY-MM-DD'),'YYYY-MM-DD') <= to_date(#{endTime},'YYYY-MM-DD')]]>
	    </if>
    	</where>
    	<!-- order by lock_time desc -->
	</select>

</mapper>